.table-tab {
  width: 100%;

  td {
    width: 25%;
  }
  .header-row {
    background-color: white;
    .header-title {
      padding-left: 24px;
    }
    .heading-section {
      margin-bottom: 12px;
      margin-top: 16px;

      .feature-heading {
        margin-top: 0px;
        margin-bottom: 4px;
      }
      .feature-text {
        margin: 0px;
      }
    }
  }
  .header-cards {
    text-align: center;
  }
  .feature-row {
    height: 68px;
  }
}

@media (max-width: 693px) {
  //Mobile
  .table-tab {
    .header-row {
      .header-title {
        padding-left: 16px;
      }
    }
  }
}
